body {
  font-family: "Poppins", sans-serif;
  color: $text;
  background-color: $light-gray;
}

.content {
  padding: 0 5rem 0 5rem;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms all;
}

.btn_content_icon:hover {
  color: $primary;
}

.card {
  background-color: white;
  box-shadow: 0 3px 0 -3px rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 15px;
  width: 100%;
  padding: 1rem 1.5rem 1rem 1.5rem;
}