.add-asset-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  font-weight: 600;
  color: $text-gray;
  background: transparent;
  border: 2px dashed rgb(201, 201, 201);
  border-radius: 15px;
  transition: 250ms all;
}

.add-asset-btn:hover {
  color: $primary;
  border-style: solid;
  border-color: $primary;
  border-width: 2px;
}

.add-asset-btn__icon {
  padding-right: 15px;
}
